<header>
    <nav>
        <a href="/"><i class="fas fa-gift"></i></a>
        <div>
            <a href="/api/search">Search</a>
            {% if (user.role == "guest") %}
                <a href="/login">Login</a>
                <a class="button-1" href="/sign-up">Sign Up</a>
            {% endif %}
            {% if (user.role == "user") %}
                <a href="/api/profile">Profile</a>
            {% endif %}
            {% if (user.role != "guest") %}
            <a onClick="document.getElementById('logout').submit()">Logout</a>
                <form id="logout" action="/api/authenticate/logout_status" method="POST"></form>
            {% endif %}
        </div>  
    </nav>
</header>