{% extends "base.njk" %}

{% block metaStuff %}
	<title>Profile</title>
{% endblock %}

{% block main %}
    <div class="gift-container">
        <div class="gift-top"></div>
        <div class="button-1" onclick="showAddGift()">Add</div>
        <div class="gift-bottom"></div>
    </div>

    <section id="gift-list" class="container">
        {% for i in range(0, giftList.length) -%}
            <div draggable="true" class="gift draggable" onclick="showGift(this)" 
            data-index="{{i}}" data-name="{{giftList[i].name}}", 
            data-price="{{giftList[i].price}}", data-quantity="{{giftList[i].quantity}}", 
            data-size="{{giftList[i].size}}", data-color="{{giftList[i].color}}", 
            data-storelink="{{giftList[i].storeLink}}", data-notes="{{giftList[i].notes}}">
                <p>{{giftList[i].name}}</p>
            </div>
        {%- endfor %}
    </section>
        
    <section id="pop-up-bg">
        <!-- show add gift form -->
        {% include 'add-gift.njk' %}

        <!-- show gift information -->
        {% include 'edit_gift.njk' %}
    </section>

{% endblock %}

{% block script %}
{% include 'pop-up.njk'%}
{% include 'dragNdrop.njk' %}
{% endblock %}