{% extends "base.njk" %}

{% block metaStuff%}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
    <section class="content-2">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <a href="{{link}}"><button class="button-2">{{buttonText}}</button></a>
    </section>
{% endblock %}

{% block script %}

{% endblock %}