{% extends "base.njk" %}

{% block metaStuff%}
	<title>Search</title>
{% endblock %}

{% block main %}
	<div id="search-title">
		<input type="text" id="search-bar" name="searchText" placeholder="Search for users">
	</div>

	<div id="usernameList">
			
	</div>
{% endblock %}

{% block script %}
<script>
	var search = document.getElementById('search-bar');
	var usernameListElem = document.getElementById("usernameList");
	var usernames = '{{usernames}}'.split(',');		// takes an array of strings then splits them by every ','
	// JSON.parse('{{obj}}'.replace(/&quot;/g,'"'))		in the case of taking in a json object

	document.getElementById("search-bar").value = "";

	async function getUserNames(searchText) {
		var matches = usernames.filter(username => {
			const regex = new RegExp(`^${searchText}`,`gi`);
			return username.match(regex);
		});

		if(searchText.length == 0) {
			matches = [];
			usernameListElem.innerHTML = " ";
			return;
		}
		outputHTML(matches);
	}

	const outputHTML = matches => {
		if (matches.length > 0) {
			var html = matches.map(match => 
				`
					<a class="search-result" href="/api/search/${match}">${match}</a> 
				`
				).join(" ");
			usernameList.innerHTML = html;
		} else {
			usernameList.innerHTML = `<a class="search-result">No users with that name</a>`;
		}
	}

	search.addEventListener('input', () => getUserNames(search.value));
</script>
{% endblock %}