{% extends "base.njk" %}

{% block metaStuff%}
	<title>Search Result</title>
	<link href="giftee.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block main%}
<div class="content-3">
	<button class="button-1" style="font-weight: 600; font-size: 1.25rem;" type="button" onclick="copyGiftListLink()">Copy {{username}}'s Gift List Link</button>
</div>



<section id="gift-list" class="container">
	{% for i in range(0, giftList.length) -%}
		<div draggable="true" class="gift draggable" onclick="showGift(this)" 
		data-index="{{i}}" data-name="{{giftList[i].name}}", 
		data-price="{{giftList[i].price}}", data-quantity="{{giftList[i].quantity}}", 
		data-size="{{giftList[i].size}}", data-color="{{giftList[i].color}}", 
		data-storelink="{{giftList[i].storeLink}}", data-notes="{{giftList[i].notes}}">
			<p>{{giftList[i].name}}</p>
			<p class="button-1" onclick="openStoreLink(this.parentNode.dataset.storelink)">BUY</p>
		</div>
	{%- endfor %}
</section>

<section id="pop-up-bg">
	<!-- show gift information -->
	{% include 'show_gift.njk' %}
</section>

{% endblock %}

{% block script %}
<script>
	var popUpBg = document.getElementById("pop-up-bg");
	var showGiftPopUp = document.getElementById("show-gift");
	var giftList = document.getElementById("gift-list");
	var giftNode = document.getElementsByClassName("gift")[0];
	var index = document.getElementsByClassName("index");
	var currentGift;

	/*------------------------------------------ 
	pop up
	------------------------------------------*/
	// allows for the pop up to be closed by clicking outside of the pop up
	window.onclick = function(event) {
		if(event.target == popUpBg) {
			popUpBg.style.display = "none";
			showGiftPopUp.style.display = "none";
			currentGift = null;
		}
	}

	// display information about a particular gift
	function showGift(gift) {
		// so the pop up doesn't show up when clicking the "buy" button
		if (event.target != event.currentTarget) { return; }

		popUpBg.style.display = "block";
		showGiftPopUp.style.display = "grid";
		let giftAttributes = document.getElementById("show-gift").children;
		let inputVals = Object.values(gift.dataset);

		// gets the values from the html element
		for (i = 0; i < inputVals.length; i++) {
			giftAttributes[i].children[1].value = inputVals[i + 1];     // +1 to exclude index from dataset
		}
		currentGift = gift;
	}

	function copyGiftListLink() {
		if (navigator.clipboard) {
			navigator.clipboard.writeText(`${window.location}`).then(() => {
			console.log('Copied to clipboard successfully.');
		}, (err) => {
			console.log('Failed to copy the text to clipboard.', err);
		});
		} else if (window.clipboardData) {
			window.clipboardData.setData("Text", input);
		}
	}

	function openStoreLink(url) {
		window.open(url, "_blank").focus();
	}
</script>
{% endblock %}